*{
    margin: none;
    padding: none;
}

@font-face {
    font-family: 'MythbustersFont';
    src: url(./fonts/MythBusters.ttf);
}

.mobile-navbar-toggle{
    display: none;
}

.button-bg{
    display: none;
}

body{
    background-color: rgb(245, 243, 243);
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 13em;
        height: 3rem;
        margin: 0.65rem;
    }
}

nav{
    display: flex;

}

.navbar{
    font-family: 'MythbustersFont';
    display: flex;
    margin: 0;
    margin-right: 1.2rem;
    a{
        //color: rgb(42, 38, 38);
        color: rgb(51, 37, 37);
        text-decoration: none;
    }
    li{
        list-style-type: none;
        margin-left: 40px;
    }
    background: none;
    font-size: 1.6rem;
}

@supports(backdrop-filter: blur(0.5rem)){
    .navbar{
        //background: rgba(234, 69, 78, 0.549);
        //background: rgba(195, 190, 191, 0.549);
        backdrop-filter: blur(0.5rem);
    }
}

@media (max-width: 35em){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
    main{
        padding-top: 3.8rem;
    }
    .navbar{
        width: 100%;
        position: fixed;
        inset: 0 0 0 0%;
        flex-direction: column;
        padding: min(30vh, 7rem) 1rem;
        font-size: 2.3rem;
        li{
            margin-bottom: 0.8rem;
        }
        z-index: 16;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .navbar[data-visible = "true"]{
        transform: translateX(0%);
    }

    .header{
        //padding: 0.4rem 0rem;
        img{
            width: 10rem;
            height: 2.5rem;
            margin: 0.5rem;
            margin-left: 0.7rem;
        }
        position: fixed; //newly added
        width: 100vw;
        //background-color: rgb(38, 38, 38);
        background-color: rgb(255, 255, 255);
        top: -0.1rem;
        right: 0rem;
    }

    .mobile-navbar-toggle{
        display: block;
        position: absolute;
        background: url("/img/Hamburger_icon_white.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 3rem;
        aspect-ratio: 1;
        //top: 0.8rem;
        //right: 1.4rem;
        top: 0.6rem;
        //right: 0.95rem;
        right: 0.44rem;
        z-index: 17;
        border: 0;
        height: 100vh;
    }

    .button-bg{
        display: block;
        background-color: rgb(38, 38, 38);
        width: 4rem;
        height: 4rem;
        z-index: 7;
        margin-left: 8.2rem;
    }

    .mobile-navbar-toggle[aria-expanded = "true"]{
        background: url("/img/VisualEditor_-_Icon_-_Close_-_white.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 4rem;
        top: -0rem;
        right: -0.2rem;
    }
}

@media (min-width: 35em) and (max-width: 45em){
    .navbar{
        li{
            margin-right: 20px;
        }
        //background: rgba(57, 130, 226, 1);
        font-size: 1.5rem;
    }
    .header{
        img{
            width: 10rem;
            height: 2.5rem;
            margin: 0.5rem;
        }
    }
}

.anim-container{
    height: 100vh;
    width: 100%;
    //background: linear-gradient(30deg,#222831,#30475E,#F05454);
    background: linear-gradient(-30deg, #713038, #463d81, #1babf485);
    background-size: 200% 200%;
    animation: color 50s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.first-section{
    height: 100vh;
}