:root {
  --black-main: rgb(54, 51, 51);
  --white-main: rgb(238, 232, 232);
  --blue-main: rgb(71, 88, 175);
  --blue-main-2: rgb(52, 74, 183);
  --transparent-white: rgba(255, 255, 255, 0.814);
  --cursor-size: 18px;
  --bg: #232323;
}

#cursor {
  position: fixed;
  top: calc(var(--cursor-size) * -0.5);
  left: calc(var(--cursor-size) * -0.5);
  pointer-events: none;
  mix-blend-mode: difference;
  filter: url(#goo);
}

.cursor-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cursor-size);
  height: var(--cursor-size);
  border-radius: var(--cursor-size);
  background: var(--bg);
  transform-origin: center center;
}

h1 {
  margin: 0;
  font-size: 148px;
  line-height: 1;
  font-family: sans-serif;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.goo {
  display: none;
}

* {
  margin: none;
  padding: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "MythbustersFont";
  src: url(./fonts/MythBusters.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v25-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
.mobile-navbar-toggle {
  display: none;
}

.button-bg {
  display: none;
}

body {
  background-color: var(--white-main);
  overflow-x: hidden;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.header {
  position: fixed;
  background-color: var(--transparent-white);
  -webkit-backdrop-filter: blur(0.7rem);
          backdrop-filter: blur(0.7rem);
  width: 100vw;
  height: 3.6rem;
  display: flex;
  z-index: 999;
}
.header img {
  width: 11em;
  height: 2.5rem;
  margin: 1rem;
  margin-left: 0.74rem;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

nav {
  display: flex;
}

.navbar {
  font-family: "MythbustersFont";
  display: flex;
  margin: 0;
  margin-right: 1.05rem;
  word-spacing: -4px;
  background: none;
  font-size: 1.55rem;
}
.navbar a {
  color: var(--black-main);
  text-decoration: none;
}
.navbar li {
  list-style-type: none;
  margin-left: 33px;
}
.navbar a:hover {
  color: #4153da;
}

@media (max-width: 923px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  main {
    background-color: rgba(228, 227, 227, 0);
  }
  .navbar {
    width: 100%;
    height: 2000px;
    position: fixed;
    inset: 0 0 0 0%;
    flex-direction: column;
    padding: min(30vh, 7rem) 0rem;
    font-size: 2.3rem;
    z-index: 16;
    transform: translateX(100%);
    transition: transform 280ms ease-out;
    background: rgba(231, 230, 230, 0.248);
    -webkit-backdrop-filter: blur(0.5rem);
            backdrop-filter: blur(0.5rem);
  }
  .navbar li {
    margin-bottom: 0.8rem;
  }
  .navbar[data-visible=true] {
    transform: translateX(50%);
  }
  .header {
    position: fixed;
    width: 100vw;
    background-color: var(--transparent-white);
    -webkit-backdrop-filter: blur(0.7rem);
            backdrop-filter: blur(0.7rem);
    height: 4rem;
    right: 0rem;
  }
  .header img {
    width: 10rem;
    height: 2.5rem;
    margin: 0.5rem;
    margin-left: 1.3rem;
    margin-top: 0.6rem;
  }
  .mobile-navbar-toggle {
    display: block;
    position: absolute;
    background: url("/img/Hamburger_icon_white.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 3rem;
    aspect-ratio: 1;
    top: 0.5rem;
    right: 0.44rem;
    z-index: 17;
    border: 0;
    height: 10vh;
  }
  .button-bg {
    display: block;
    position: absolute;
    background-color: var(--black-main);
    width: 4.4rem;
    height: 4rem;
    right: -0.23rem;
    top: auto;
    z-index: 7;
  }
  .mobile-navbar-toggle[aria-expanded=true] {
    background: url("/img/VisualEditor_-_Icon_-_Close_-_white.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 4rem;
    top: 0rem;
    right: 0rem;
  }
  .lang-menu {
    margin-right: 4.2rem;
    padding-top: 0.3rem;
  }
  #languages {
    right: 0rem;
  }
  .home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding-top: 7rem;
  }
  .home .video-wrapper {
    width: 80%;
    height: 0;
    padding-bottom: 45%;
    position: relative;
  }
  .home .video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 750px) {
  .home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 11rem;
  }
  .home .video-wrapper {
    margin-right: 6rem;
    width: 90%;
    height: 0;
    padding-bottom: 50.625%;
    position: relative;
  }
  .home .video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
.lang-menu {
  margin-top: 0.4rem;
  position: relative;
  width: 5rem;
  top: 0.6rem;
  right: 0.1rem;
}

.selected-lang {
  cursor: pointer;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  line-height: 1.55;
  margin-bottom: 0.4rem;
}

.selected-lang::before {
  content: "";
  display: block;
  height: 22.5px;
  background-image: url(https://countryflagsapi.com/png/gb);
  background-size: 100%;
  width: 2.8rem;
}

.lang-menu ul {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 241, 241);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 2.2rem;
  right: 1rem;
}

.lang-menu:hover ul {
  display: block;
}

.lang-menu ul li {
  list-style: none;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.lang-menu ul li a {
  width: 125px;
  display: block;
  padding: 7px 8px;
  text-decoration: none;
  color: var(--black-main);
}

.lang-menu ul li a::before {
  content: "";
  display: inline-block;
  height: 21px;
  vertical-align: middle;
  margin-right: 10px;
  background-image: url(https://countryflagsapi.com/png/gb);
  background-size: 100%;
  width: 2rem;
}

.lang-menu ul li a:hover {
  background-color: #e4e3e3;
  border-radius: 5px;
}

#nl:before {
  background-image: url(https://countryflagsapi.com/png/nl);
}

#en:before {
  background-image: url(https://countryflagsapi.com/png/gb);
  background-position: center;
  background-size: 125%;
}

#ge:before {
  background-image: url(https://countryflagsapi.com/png/de);
  height: 19px;
}

#fr:before {
  background-image: url(https://countryflagsapi.com/png/fr);
}

#ua:before {
  background-image: url(https://countryflagsapi.com/png/ua);
}

.anim-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(-60deg, #12c2e9, #5363f5, #b83d3d);
  background-size: 200% 200%;
  -webkit-animation: color 50s ease-in-out infinite;
          animation: color 50s ease-in-out infinite;
}

@-webkit-keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.carousel {
  position: relative;
  height: 65%;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}
.carousel .carousel-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .carousel-track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel .carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 350ms ease-in;
}
.carousel .slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel .carouselBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.carousel .carouselBtn img {
  width: 30px;
}
.carousel .carouselBtn-left {
  left: -40px;
}
.carousel .carouselBtn-right {
  right: -40px;
}
.carousel .carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.carousel .carousel-nav .carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.389);
  margin: 0 5px;
  cursor: pointer;
}
.carousel .carousel-indicator.current-slide {
  background-color: rgba(0, 0, 0, 0.785);
}

.text-container-home h1 {
  font-size: 3rem;
  max-width: 550px;
  padding: 0 2rem;
}

.about-us {
  height: 100vh;
  padding: 4rem;
}/*# sourceMappingURL=style.css.map */